<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malhotra's Cuisine</title>
    <link rel="shortcut icon" href="~/Content/images/MLogo.jpg" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        li {
            font-size: 14px;
        }

        ul {
            color: black;
        }

        #navbar {
            background-color: black;
        }

        body {
            background-color: #9E2C2C;
            color: black;
        }
    </style>


</head>
<body>


    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Orders", "Order", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Index", "Register", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <div>
                <h1 style="font-family:Brush Script MT">Malhotra's Cuisine</h1>
                @*<div id="logo">
                        <img src="/images/MLogo.jpg"  alt="Company Logo" />
                    </div>*@

            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="container bottom">

            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <p style="font-size: 14px; color: #FFFF00;"><b>Menu</b></p>
                    @Html.ActionLink("Catering", "Order", "Home")<br />
                    @Html.ActionLink("Take Out", "Order", "Home")<br />

                </div>
                <div class="col-sm-3 col-xs-6">
                    <p style="font-size: 14px; color: #FFFF00;"><b>Social</b></p>
                    <a href="http://facebook.com">Facebook</a><br />
                    <a href="http://Twitter.com">Twitter</a><br />
                    <a href="http://Youtube.com">Youtube</a><br />


                </div>
                <div class="col-sm-3 col-xs-12">

                    <p style="font-size: 14px; color: #FFFF00;"><b>Privacy & Policy</b></p>
                </div>
                <div class="col-sm-3 col-xs-12">

                    <p style="font-size: 14px; color: #FFFF00;">
                        <b>
                            Malhotras Catering<br />
                            155 Square One Drive<br />
                            Mississauga ON<br />
                            L5M 2G6<br />
                            905-123-2345<br />
                            parmalh@gmail.com
                        </b>
                    </p>
                </div>
            </div>

        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
